@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #4CAF50;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    color: #45a049;
}


@media screen and (max-width: 768px) {
    form {
        padding: 10px;
    }
}