@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 30px auto; /* Marginesy na górze i dole będą automatycznie ustawione na taką samą wartość */
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    max-width: 400px; /* Maksymalna szerokość nagłówka */
}

form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}







input[type="datetime-local"],
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select option {
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.select option:checked {
    background-color: #f0f0f0;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #333;
}

footer {
    text-align: center; /* Wyśrodkowanie tekstu poziomo */
    margin: 30px auto; /* Wyśrodkowanie stopki poziomo */
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    max-width: 400px; /* Maksymalna szerokość stopki */
}

.footer-link {
    display: inline-block; /* Spowoduje, że link będzie zachowywał się jak blok */
    color: #fff; /* Kolor tekstu linków */
    text-decoration: none; /* Usunięcie podkreślenia */
    margin: 0 10px; /* Margines między linkami */
}

.footer-link:hover {
    text-decoration: underline; /* Podkreślenie linku po najechaniu kursorem */
}







@media screen and (max-width: 768px) {
    form {
        padding: 10px;
    }



}