body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

thead {
    background-color: #333;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    position: fixed; /* Zmiana pozycji na absolutną */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

footer div {
    display: inline-block;
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #e0c30b;
}

p {
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    table {
        width: 100%;
        margin: 10px auto;
    }

    th, td {
        padding: 8px;
    }

    footer {
        position: relative;
    }
}