

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: #333;
    background-color: #f0f0f0; /* Kolor tła */
    padding: 10px; /* Odstęp wokół zawartości */
    border-radius: 10px; /* Zaokrąglenie rogów */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień */
    max-width: 300px; /* Maksymalna szerokość */
    margin: 20px auto; /* Wyśrodkowanie na stronie */
}

form {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: block;
    margin-bottom: 20px;
}



.back {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px auto;
}

.back a {
    color: #333;
    text-decoration: underline;
    text-decoration-color: blue;
}



input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}


button[type="submit"] {
    display: block;
    width: 75%;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button[type="submit"]:hover {
    background-color: #45a049;
}
