<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Are Beautiful</title>
    <link rel="stylesheet" href="./CSS/reset.css">
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="/galleryPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container">

    <header>

        <div class="NAME">
            <p class="blinking-text">Jesteś Piękna</p>
        </div>


    </header>

    <main>

        <div class="SECTION">

            <section class="S4">

                <h2>GALERIA ZDJĘĆ </h2>

                <div class="photo-gallery">
                    <div th:each="photo : ${AllPhotos}">
                        <img th:src="${'/photos/' + photo.id}" alt="Zdjęcie">
                    </div>
                </div>

                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/homePage}">Strona główna</a>
                </div>




            </section>

        </div>

    </main>

    <footer>
        <a th:href="@{/homePage}">Strona główna</a>
    </footer>

</div>

</body>
</html>