<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Are Beautiful</title>
    <link rel="stylesheet" href="./CSS/reset.css">
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="/homePageAll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container">

    <header>



        <div class="NAME">
            <p class="blinking-text">Jesteś Piękna</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Portfolio</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="@{/gallery}">Gallery</a></li>
                <li><a th:href="@{/registration}">Register</a></li>
                <li><a th:href="@{/login}">Login</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <div class="SECTION">

            <section class="S1">

                <div class="LOGO">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJdcg1hLF_x5-2R7TQ2RQA0ogMLgvN7u4WCg&usqp=CAU" alt="Placeholder">
                </div>

                <div class="OWNER">
                    <h1 class="slide-in-text">JUSTYNA OPALA</h1>
                </div>

            </section>

            <section class="S3">
                <h2>Nasza Pasja: Tworzenie Wyjątkowego Piękna</h2>
                <p>Jestem młodą i pełną pasji stylistką rzęs, gotową podkreślić Twoje piękno i wydobyć unikalny urok Twojego spojrzenia. Moja praca opiera się na precyzji, dbałości o detale oraz indywidualnym podejściu do każdej klientki. Z pasją podążam ścieżką piękna, stale doskonaląc swoje umiejętności, abyś poczuła się pewnie i olśniewająco z każdym unoszącym się rzęsem. Daj mi szansę stworzenia dla Ciebie unikatowej historii piękna!</p>
            </section>

            <section class="S4">
                <h2> <a th:href="@{/gallery}">MOJE PRACE</a></h2>

                <div class="photo-gallery">
                    <div th:each="photo : ${latestPhotos}">
                        <img th:src="${'/photos/' + photo.id}" alt="Zdjęcie">
                    </div>
                </div>

            </section>

        </div>

    </main>

    <footer>

    </footer>

</div>

</body>
</html>