<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
<div class="login-container">
  <h1>Login</h1>

  <form th:action="@{/login}" th:object="${loginDto}" method="post">



    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" th:field="*{username}" required placeholder="Enter username" class="name" autocomplete="off"/>
      <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" th:field="*{password}" required placeholder="Enter password" class="password" autocomplete="off"/>
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
    </div>

    <div>
      <button type="submit">Login</button>
    </div>


    <div>
      <a th:href="@{/YouAreBeautiful}">Home</a>
    </div>

  </form>



</div>

<div class="register-container">
  <h1>Sign up</h1>
  <div>
    <a th:href="@{/registration}">Sign up</a>
  </div>

</div>




</body>
</html>


