<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="/registration.css">
</head>
<body>
<div class="registration-container">
  <h1>Registration Form</h1>

  <form th:action="@{/registration}" th:object="${registerUserDto}" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" th:field="*{username}" required placeholder="Enter username" class="name" autocomplete="off"/>
      <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></span>
    </div>


    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" th:field="*{password}" required placeholder="Enter password" class="password" autocomplete="off"/>
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" th:field="*{email}" placeholder="Enter email" class="email" autocomplete="off"/>
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
    </div>

    <div>
      <button type="submit">Register</button>
    </div>
  </form>

  <div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
  </div>
</div>
</body>
</html>