<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Rezerwacji</title>
</head>
<body>
<h1>Lista Rezerwacji</h1>

<p>Witaj, <span th:text="${username}"></span>

<table border="1">
  <thead>
  <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Typ Usługi</th>
    <th>Data Rezerwacji</th>
    <th>Godzina Rezerwacji</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reservation : ${reservations}">
    <td th:text="${reservation.client.userProfile.firstName}"></td>
    <td th:text="${reservation.client.userProfile.lastName}"></td>
    <td th:text="${reservation.service_type.name}"></td>
    <td th:text="${#dates.format(reservation.reservation_date, 'yyyy-MM-dd')}"></td>
    <td th:text="${#dates.format(reservation.reservation_date, 'HH:mm')}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>